.navigacnilista {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navigacnilista li {
  float: left;
}
.navigacnilista a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigacnilista li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  max-height: 20%;
  front size: 30px;
  background-color: greenyellow;
  text-align: center;
  padding: 10px;
}

.uvodniText{
  background-color: greenyellow;
  width: 50%;
  height: 7%;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 25%;
  }
  .uvodniText h1{
    color: darkblue;
    padding: 5x;
  }
.nasledujiciText{
  background-color: greenyellow;
  width: 25%;
  height: 25%;
  position: absolute;
  left: 0%;
  right: 25%;
  top: 30%;
  text-align: justify;
}