<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<div class="navbar">
    <img class="logo" src="{% static 'pictures/DDR.png' %}" alt="Logo">
    <div class="nav-links">
        <a href="/">EXPLORE</a>
        <a href="/diagram/">DIAGRAMS</a>
         <a href="/guide/">GUIDE</a>
    </div>

    <div class="accountbutton">
        <img class="account" src="{% static 'pictures/account.png' %}" alt="account">
        <a class="accounttext">ACCOUNT ▼</a>
        <div class="dropdown-content">
            {% if user.is_authenticated %}
                <a href="/profile/">Profile</a>
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/register/">Register</a>
                <a href="/login/">Login</a>
            {% endif %}
        </div>
    </div>
</div>


    <div class="content">
        <h1>THE ARENA IS HUNGRY FOR BLOOD</h1>
        <p>In a world where shadows scream and steel speaks louder than words, only the fastest survive.
            You are <strong>THE DASH</strong> – a living weapon in a cycle of endless slaughter.
            <br>
            How long can you stay ahead of the unavoidable <strong>DEATH</strong>?</p>
        <h2>BLINK AND YOU ARE DEAD</h2>
        <p>Every millisecond is a choice. Every blink is a risk.
            In this world, there is no room for error: one perfect dash to kill, one minor stumble to die. Master the rhythm of the blade.</p>
        <h2>FEED THE FRENZY</h2>
        <p>Chain your executions to fuel the hunger within.
            Once the Frenzy takes over, time itself will bow before you. Watch your enemies freeze in terror as you become a red blur of absolute devastation.</p>
        <h2>ETCH YOUR NAME IN BLOOD</h2>
        <p>Your flesh is weak and your death is certain. But your legacy?
            That is written in the scores of the fallen. Ascend the global leaderboard and let the world remember the name of its greatest butcher.</p>
    </div>

</body>
</html>